# Configuración de la API
EXPO_PUBLIC_API_URL=http://localhost:3000

# Configuración de la aplicación
EXPO_PUBLIC_APP_NAME=Home Gardener
EXPO_PUBLIC_APP_VERSION=1.0.0

# Configuración de desarrollo
EXPO_PUBLIC_DEBUG_MODE=true
